.wrapper {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

body {
    margin: 0;
    cursor: url('/cursor/red.cur'), auto;
}

sup {
    font-size: 15px;
}

.information {
    padding-bottom: 40px;
}

.list li:hover>a {
    color: #fd8300;
}

.list a {
    transition: 1s ease all;
}

.tel a:hover {
    background-color: #1f1f56;
    color: #fff;
    border-radius: 5px;
    padding: 2px;
}

.tel a {
    transition: 1s all ease;
}

.contacts a {
    transition: 1s all ease;
}

.contacts a:hover {
    text-decoration: none;
    color: #fd8300;
    border-radius: 5px;
    padding: 2px;
}

.button a:hover {
    background-color: #fd8300;
    color: #fff;
}

.button a:hover {
    transition: 1s all ease;
}

a:hover {
    cursor: url('/cursor/pointer.cur'), auto;
}

.info {
    align-items: center;
}

.header-line {
    display: flex;
    justify-content: space-between;
}

.twitter {
    padding-top: 2px;
}

.social {
    display: flex;
    align-items: center;
}

.social ul {
    list-style: none;
    display: flex;
    column-gap: 26px;
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    column-gap: 28px;
}

span {
    font-size: 24px;
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.email {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.skype {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
    display: block;
}

.popular {
    display: flex;
    column-gap: 28px;
}

.tel a {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.telephone {
    display: block;
    text-align: end;
}

.offer {
    background: url(../images/view.webp) no-repeat;
    position: relative;
    background-size: cover;
    padding: 50px 0;

}

.we-offer {
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
    margin-bottom: 0;
}

.main-info {
    padding-top: 20px;
}

h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    margin-bottom: 12px;
}

.what {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
}


.button a {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    padding: 12px 40px;
    text-decoration: none;
    display: inline-block;
}

.twoo {
    font-size: 7px;
}

.two {
    font-size: 9px;
}



hr {
    margin: 35px 0;
    border: none;
    border-top: 1px solid #e4e4ec;
}

figcaption ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

figcaption li {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    font-family: "Arial";
}

figure a {
    font-size: 14px;
    text-decoration: none;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    margin: 5px 0 7px 0;
    display: block;
}

figure {
    margin: 0;
}

h3 {
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    display: flex;
}

h1 {
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.main-info p {
    font-size: 14px;
    line-height: 1.4em;
    color: #666666;
    font-family: "Arial";
}

.more-about-us {
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    transition: 1s all ease;
}

.more-about-us:hover {
    background-color: #1f1f56;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    border-radius: 5px;
}

figure a:hover {
    text-decoration: underline #fd8300;
    color: #fd8300;
}

figure a {
    transition: 1s all ease;
}

.main-info {
    display: flex;
    column-gap: 28px;
}

.categories ul {
    list-style: none;
    padding: 0;
    min-width: 220px;
}

.categories li {
    background-color: #e4e4ec;
}

.categories a {
    transition: 1s all ease;
}

.categories li:hover>a {
    padding: 10px;
    background-color: #fd8300;
    color: #fff;
}

.sold a {
    background-color: #cecedd;
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

.sell,
.selll {
    background-color: #cecedd;
}

.around a {
    background-color: #fd8300;
    font-size: 14px;
    color: #fff;
    font-family: "Arial";
}

.categories a {
    display: block;
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Arial";
    border-bottom: 1px solid #cecedd;
    text-decoration: none;
    line-height: 1.7em;
}

.last {
    color: #25252c;
}

.sell a {
    color: #666666;
    font-family: "Arial";
}

.projects a {
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    margin: 0;
    border-radius: 3px 3px 0 0;
}


.ready a {
    border: none;
    border-radius: 0 0 3px 3px;
    color: #25252c;
}

.tell a {
    font-size: 18px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;

}

header {
    background-color: #1f1f56;
}

.list ul {
    display: flex;
    font-size: 14px;
    color: #b1b1d2;
    font-family: "Arial";
    list-style: none;
    column-gap: 32px;
    padding: 0;
}

.houses a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.houses ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.contact {
    column-gap: 80px;
}

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.about a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.about a {
    transition: 1s all ease;
}

.about li:hover>a {
    text-decoration: underline #fd8300;
    color: #fd8300;
}

.contact {
    display: flex;
}

.number {
    display: block;
    text-align: end;
}

.mail a {
    font-size: 16px;
    line-height: 1.5em;
    display: block;
    color: #25252c;
    font-family: "Arial";
}

.skypee {
    text-decoration: none;
}

.list a {
    text-decoration: none;
    color: #b1b1d2;
}

footer {
    background-color: #dcdce6;
    padding: 2px;
}

.houses {
    min-width: 239px;
}

.houses a {
    transition: 1s all ease;
}

.houses li:hover>a {
    color: #fd8300;
    text-decoration: underline #fd8300;
}

.about {
    min-width: 219px;
}

.contact {
    min-width: 449px;
}

.mail a {
    transition: 1s all ease;
}

.mail a:hover {
    text-decoration: none;
    color: #fd8300;
    border-radius: 5px;
    padding: 2px;
}

.tell a{
    transition: 1s all ease;
}

.tell a:hover {
    text-decoration: none;
    color: #fd8300;
    border-radius: 5px;
    padding: 2px;
}

.copy p {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.moreinfo {
    background-color: #ededf5;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    background-color: #ededf5;
    padding: 41px 0;
    column-gap: 20px;

}