.wrapper {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.information{
padding-bottom: 40px;
}

.info{
    align-items: center;
}

.header-line {
    display: flex;
    justify-content: space-between;
}

.twitter {
    padding-top: 2px;
}

.social{
    display: flex;
    align-items: center;
}

.social ul {
    list-style: none;
    display: flex;
    column-gap: 16px;
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 36px 0;
    column-gap: 28px;
}

span {
    font-size: 24px;
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.email {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.skype {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
    display: block;
}

.popular {
    display: flex;
    column-gap: 28px;
}

.tel a {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.telephone {
    display: block;
    text-align: end;
}

.offer {
    background: url(../images/view.webp) no-repeat;
    position: relative;
    background-size: cover;
    padding: 10px 0;
    
}

.we-offer {
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
}

.main-info{
    padding-top: 20px;
}

h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
}

.what {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
}

.button a {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    padding: 13px;
    text-decoration: none;
    display: inline-block;
}



hr {
    margin: 35px 0;
    padding: 1px 0;
    max-width: 713px;
    background-color: #e4e4ec;
}

figcaption ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

figcaption li {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    font-family: "Arial";
}

figure a {
    font-size: 14px;
    text-decoration: none;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    margin: 5px 0 7px 0;
    display: block;
}

figure {
    margin: 0;
}

h3 {
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    display: flex;
}

h1 {
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.main-info p {
    font-size: 14px;
    line-height: 1.4em;
    color: #666666;
    font-family: "Arial";
}

.more-about-us {
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.main-info {
    display: flex;
    column-gap: 28px;
}

.categories ul {
    list-style: none;
    padding: 0;
    min-width: 220px;
}

.categories a {
    display: block;
    background-color: #e4e4ec;
    padding: 10px 15px;
    font-size: 14px;
    color: #25252c;
    font-family: "Arial";
    border-bottom: 1px solid #cecedd;
    text-decoration: none;
}

.projects {
    font-size: 16px;
    line-height: 1.5em;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    margin: 0;
}




.tell a {
    font-size: 18px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;

}

header {
    background-color: #1f1f56;
}

.list ul {
    display: flex;
    font-size: 14px;
    color: #b1b1d2;
    font-family: "Arial";
    list-style: none;
    column-gap: 32px;
    padding: 0;
}

.houses a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.houses ul {
    list-style: none;
    margin: 0;
    padding: 0;
    
}

.contact{
    column-gap: 80px;
}

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.about a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.contact {
    display: flex;
}

.number {
    display: block;
    text-align: end;
}

.mail a {
    font-size: 16px;
    line-height: 1.5em;
    display: block;
    color: #25252c;
    font-family: "Arial";
}

.skypee {
    text-decoration: none;
}

.list a {
    text-decoration: none;
    color: #b1b1d2;
}

footer {
    background-color: #dcdce6;
    padding: 2px;
}

.houses{
    min-width: 239px;
}
.about{
    min-width: 219px;
}

.contact{
    min-width: 449px;
}

.copy p {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.moreinfo {
    background-color: #ededf5;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    background-color: #ededf5;
    padding: 41px 0;
    column-gap: 20px;

}