.wrapper {
    max-width: 960px;
    margin: auto;
    box-sizing: border-box;
}

body {
    margin: 0;

}

sup {
    font-size: 15px;
}


.information {
    padding-bottom: 40px;
}

.list li:hover>a {
    color: #fd8300;
}

.list a {
    transition: 1s ease all;
}

.tel a:hover {
    background-color: #1f1f56;
    color: #fff;
    border-radius: 5px;
}

.tel {
    position: relative;
}

.phonne-img {
    position: absolute;
    content: "";
    background: url(../images/phone.svg);
    width: 17px;
    height: 17px;
    left: -30px;
    top: 1px;
}


.contacts {
    position: relative;
}

.skype-img {
    position: absolute;
    content: "";
    background: url(../images/skype.svg);
    width: 17px;
    height: 18px;
    left: 0%;
    top: 26px;
}


.mail {
    position: relative;
}

.skype {
    padding-left: 20px;
}

.tell {
    position: relative;
}

.img-phone {
    position: absolute;
    content: "";
    background: url(../images/phone.svg);
    width: 17px;
    height: 17px;
    left: -25px;
    top: 3px;
}

.tel a {
    transition: 1s all ease;
}

.contacts a {
    transition: 1s all ease;
}

.contacts a:hover {
    text-decoration: none;
    color: #fd8300;
    border-radius: 5px;
}

.button a:hover {
    background-color: #fd8300;
    color: #fff;
}

.button a {
    transition: 1s all ease;
}



.info {
    align-items: center;
}

.header-line {
    display: flex;
    justify-content: space-between;
}

.twitter {
    padding-top: 2px;
}

.social {
    display: flex;
    align-items: center;
}

.social ul {
    list-style: none;
    display: flex;
    column-gap: 26px;
    padding: 0;
    margin: 0;
}

.info {
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    column-gap: 28px;
}

span {
    font-size: 24px;
    line-height: 1em;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
}

.email {
    font-size: 16px;
    line-height: 1.5em;
    text-decoration: underline;
    color: #25252c;
    font-family: "Arial";
}

.skype {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-family: "Arial";
    text-decoration: none;
    display: block;
}

.popular {
    display: flex;
    column-gap: 28px;
}


.tel a {
    font-size: 18px;
    line-height: 1.3em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.telephone {
    display: block;
    text-align: end;
}

.offer {
    background: url(../images/view.webp) no-repeat;
    position: relative;
    background-size: cover;
    padding: 50px 0;

}

.we-offer {
    font-size: 14px;
    color: #ffffff;
    font-family: "Arial";
    text-align: center;
    margin-bottom: 0;
}

.main-info {
    padding-top: 20px;
}

h2 {
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    text-align: center;
    margin-bottom: 12px;
}

.what {
    font-size: 40px;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    text-align: center;
    margin-top: 16px;
    margin-bottom: 0;
}


.button a {
    font-size: 16px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    border-radius: 25px;
    background-color: #ffffff;
    border: 2px solid #fd8300;
    padding: 12px 40px;
    text-decoration: none;
    display: inline-block;
}

.twoo {
    font-size: 7px;
}

.two {
    font-size: 9px;
}



hr {
    margin: 35px 0;
    border: none;
    border-top: 1px solid #e4e4ec;
}

figcaption ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

figcaption li {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    font-family: "Arial";
}

figure a {
    display: block;
    font-size: 14px;
    text-decoration: none;
    color: #1f1f56;
    font-weight: bold;
    font-family: "Arial";
    margin: 5px 0 7px 0;
}

figure {
    margin: 0;
}

h3 {
    font-size: 24px;
    line-height: 1em;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
    display: flex;
}

.company {
    font-size: 30px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.main-info p {
    font-size: 14px;
    line-height: 1.4em;
    color: #666666;
    font-family: "Arial";
}

.more-about-us {
    font-size: 14px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    transition: 1s all ease;
}

.more-about-us:hover {
    color: #1f1f56;
    text-decoration: none;
    border-radius: 5px;
}

figure a:hover {
    text-decoration: underline #fd8300;
    color: #fd8300;
}

.categories {
    position: relative;
}

.menu a {
    position: relative;
    display: block;
}

.menu>li>a:before {
    content: "";
    position: absolute;
    top: 40%;
    right: 20px;
    width: 6px;
    height: 10px;
    background: url(../images/arrow.svg);

}

figure a {
    transition: 1s all ease;
}

.main-info {
    display: flex;
    column-gap: 28px;
}

.categories ul {
    list-style: none;
    padding: 0;
    min-width: 220px;
}

.categories li {
    background-color: #e4e4ec;
}

.categories li:hover .dropdown {
    display: block;
}

.categories a {
    transition: 1s all ease;
}

.categories li:hover>a {
    background-color: #fd8300;
    color: #fff;
}

.sold a {
    background-color: #cecedd;
    font-size: 14px;
    color: #666666;
    font-family: "Arial";
}

.sell,
.selll {
    background-color: #cecedd;
}

.categories a {
    display: block;
    color: #25252c;
    padding: 10px 15px;
    font-size: 14px;
    font-family: "Arial";
    border-bottom: 1px solid #cecedd;
    text-decoration: none;
    line-height: 1.7em;
}

.last {
    color: #25252c;
}

.sell a {
    color: #666666;
    font-family: "Arial";
}

.projects p {
    padding: 10px;
    font-size: 16px;
    line-height: 1.5em;
    color: #fff;
    font-weight: 700;
    font-family: "Roboto Slab";
    background-color: #1f1f56;
    margin: 0;
    border-radius: 3px 3px 0 0;
}


.ready a {
    border: none;
    border-radius: 0 0 3px 3px;
    color: #25252c;
}

.tell a {
    font-size: 18px;
    line-height: 1.5em;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;

}

header {
    background-color: #1f1f56;
}

.list ul {
    display: flex;
    font-size: 14px;
    color: #b1b1d2;
    font-family: "Arial";
    list-style: none;
    column-gap: 32px;
    padding: 0;
}

.houses a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.houses ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.contact {
    column-gap: 80px;
}

.about ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.about a {
    font-size: 14px;
    line-height: 1.8em;
    color: #666666;
    font-family: "Arial";
    text-decoration: none;
}

.about a {
    transition: 1s all ease;
}

.about li:hover>a {
    text-decoration: underline #fd8300;
    color: #fd8300;
}

.contact {
    display: flex;
}

.number {
    display: block;
    text-align: end;
}

.mail a {
    font-size: 16px;
    line-height: 1.5em;
    display: block;
    color: #25252c;
    font-family: "Arial";
}

.skypee {
    text-decoration: none;
}

.list a {
    text-decoration: none;
    color: #b1b1d2;
}

footer {
    background-color: #dcdce6;
    padding: 2px;
}

.houses {
    min-width: 239px;
}

.houses a {
    transition: 1s all ease;
}

.houses li:hover>a {
    color: #fd8300;
    text-decoration: underline #fd8300;
}

.about {
    min-width: 219px;
}

.contact {
    min-width: 449px;
}

.mail a {
    transition: 1s all ease;
}

.mail a:hover {
    text-decoration: none;
    color: #fd8300;
    border-radius: 5px;
}

.tell a {
    transition: 1s all ease;
}

.tell a:hover {
    text-decoration: none;
    color: #fd8300;
    border-radius: 5px;
}

.copy p {
    font-size: 13px;
    line-height: 1.3em;
    color: #9999a6;
    font-family: "Arial";
    text-align: center;
}

.moreinfo {
    background-color: #ededf5;
}

.main-wrap {
    display: flex;
    justify-content: space-between;
    background-color: #ededf5;
    padding: 41px 0;
    column-gap: 20px;

}

.prices {
    padding-bottom: 20px;
}

.price {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.cotage {
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
    margin-bottom: 5px;
}

.service {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

.time {
    font-size: 13px;
    line-height: 21px;
    margin-bottom: 5px;
    color: #666666;
    font-family: "Arial";
}

.available {
    margin-top: 0;
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.read {
    font-size: 14px;
    line-height: 24px;
    text-decoration: underline;
    color: #fd8300;
    font-weight: bold;
    font-family: "Arial";
    transition: 1s;
}

.read:hover {
    color: #1f1f56;
    text-decoration: none;
    border-radius: 5px;
}


table {
    width: 100%;
}

.popularr {
    display: flex;
    column-gap: 28px;
    padding-bottom: 50px;
}

.emaill-img {
    position: absolute;
    top: 5%;
    left: -15%;
}

.skypee-img {
    position: absolute;
    top: 25%;
    left: -15%;
}

.our {
    position: relative;
}

.dog:before {
    z-index: 2;
    content: "";
    position: absolute;
    background-color: transparent;
    left: 100%;
    height: 100%;
    width: 15px;
}

.our:before {
    content: "";
    position: absolute;
    z-index: 2;
    background-color: transparent;

    top: 100%;
    height: 20px;
    width: 100px;
}

.our ul {
    display: none;
    width: 125px;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 180%;
    background-color: #e4e4ec;
    border-radius: 3px;
}

.drop li {
    padding: 3px 10px;
    border: .5px solid #cecedd;
}

.drop li>a {
    position: relative;
}

.drop li>a:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 10px;
    background: url(../images/arrow.svg);
    top: 20%;
    left: 100px;
}

.list li:hover .drop {
    display: block;
}

.dog {
    position: relative;
}

.dog ul {
    position: absolute;
    top: 0%;
    left: 105%;
    border-radius: 3px;
}

tbody {
    border-collapse: collapse;
    background-color: #e4e4ec;
}

th {

    border: 1px solid #274569;
}

td {
    border: 1px solid #cecedd;
}

.names {
    padding: 15px;
    text-align: left;
}

td {
    transition: 1s all ease;
}

tbody tr:hover {
    background-color: #fd8300;
    color: #ffffff;
    transition: all 0.5s ease;
}

tr {
    transition: 1s all ease;
}


.pricee {
    padding: 15px;
    text-align: right;
}

td:first-child {
    padding: 10px;
    text-align: left;
}

td {
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

thead {
    background-color: #1f1f56;
}

table {
    border-collapse: collapse;
}

thead th {
    font-size: 14px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Roboto Slab";
    padding: 0;
}

thead tr {
    margin: 0;
    padding: 0;
    border: 1px solid #274569;
}

.drop li:hover .sub-drop {
    display: block;
}

.drop li:hover>a {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #ffffff;
    font-family: "Arial";
}

.drop li:hover {
    border-radius: 3px;
    background-color: #fd8300;
}

.drop a {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 24px;
    color: #25252c;
    font-family: "Arial";
}

.dropdown li>a:hover {
    color: #666666;
    background-color: #cecedd;
}


.dropdown-parent {
    position: relative;
}

.dropdown-parent:hover {
    display: block;
    padding-bottom: 135px;
}

.dropdown:hover {
    display: block;
}

.dropdown {
    position: absolute;
    display: none;
}

.dropdown a {
    font-size: 14px;
    background-color: #e4e4ec;
    line-height: 24px;
    color: #666666;
    font-family: "Arial";
}

.office ul li {
    list-style: none;
}

.about-contacts li:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    margin: 5px 0;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.about-contacts li>a:nth-child(2) {
    font-size: 14px;
    text-decoration: none;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.contakts {
    display: flex;
    flex-shrink: 1;
    flex-grow: 1;
    align-items: end;
    justify-content: space-between;
}



.location a {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.consultation li:nth-child(1) {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.consultation li:nth-child(2) {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
    margin: 5px 0;
}

.consultation li:nth-child(4) {
    margin: 5px 0;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.contakts ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

.contakts h1 {
    font-size: 24px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.rec li:nth-child(1) {
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.manger a {
    transition: 1s all ease;
    font-size: 18px;
    line-height: 24px;
    color: #25252c;
    font-weight: bold;
    font-family: "Arial";
    text-decoration: none;
}

.manger a:hover {
    background-color: #1f1f56;
    color: #fff;
    border-radius: 5px;
}

h4 {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    color: #24242b;
    font-weight: 700;
    font-family: "Roboto Slab";
}

.forms {
    display: flex;
    padding-top: 70px;
    justify-content: space-between;
}

.formas {
    padding-left: 20px;
    padding-bottom: 45px;
}

.form-span {
    font-size: 13px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.rec {
    margin-bottom: 30px;
}

.rec li {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    font-family: "Arial";
}

.contact-form #tema {
    padding: 0 10px;
    width: 466px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.contact-form textarea {
    padding: 10px;
    resize: horizontal;
    width: 466px;
    height: 105px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.contact-form #text {
    padding: 0 10px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
    width: 228px;
    height: 40px;
}

.checkbox {
    display: flex;
    align-items: center;
}

tbody tr:hover td {
    color: #ffffff;
}

.checkbox #checkbox {
    margin-right: 10px;

}

#checkbox:focus {
    border: 1px solid #c5c5c4;
}

.contact-form #tel {
    padding: 0 58px 0 10px;
    height: 40px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;
}

.contact-form input::placeholder {
    font-style: italic;
    color: #999;
}

.form-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}

.btn-submit {
    background-color: #fd8300;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 12px 28px;
    font-size: 15px;
    cursor: pointer;
    transition: 1s all ease;
}




textarea::placeholder {
    font-style: italic;
    color: #999;
}


.btn-submit:hover {
    background: #1f1f56;
}

input {
    margin: 10px 0;
}

.formas h4 {
    margin-bottom: 10px;
}


.checkbox #checkbox:checked {
    appearance: none;
    border: 1px solid #c5c5d4;
}

.checkbox #checkbox:focus {
    border: 1px solid #c5c5d4;

}

.popup {
    display: none;
}

footer {
    background-color: #dcdce6;
}

.back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9;
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
    z-index: 10;
    min-width: 300px;
    text-align: center;
}

.popup input::placeholder {
    font-style: italic;

}

.closePop {
    cursor: pointer;
    padding: 12px 110px;
    border-radius: 22px;
    background-color: #fd8300;
    border: none;
    color: #fff;
    transition: .4s all ease;
}

.closePop:hover {
    background-color: #1f1f56;
}

.popup input {
    display: flex;
    padding: 10px;
    padding-right: 110px;
    border-radius: 3px;
    background-color: #ffffff;
    border: 1px solid #c5c5d4;

}

.popup h3 {
    position: relative;
}

#cancelPopup {
    position: absolute;
    left: 90%;
    cursor: pointer;
}

.imgpopfirst {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 10px 20px 20px 20px;
    border-radius: 8px;
    z-index: 10;
    min-width: 300px;
    text-align: center;
}

#back img {
    padding: 10px 20pz;
    background-color: #fff;
}

.img-popup-back {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.img-popup-back img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
   
}

figure img{
 cursor: pointer;
}